<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<title>Lista de procesos corriendo en linux</title>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Procesos</h1>
			</div>
		</div>
		<div>
			<div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id del proceso (PID)  </th>
							<th scope="col">Nombre (Command)  </th>
							<th scope="col">Usuario que ejecuta el proceso (UID)  </th>
							<th scope="col">Tiempo de uso de la CPU (TIME)  </th>
							<th scope="col">Cancelar proceso  </th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:if="${procesos.empty}">
							<td colspan="2">No hay procesos</td>
						</tr>
						<tr th:each="proceso : ${procesos}">
							<td><span th:text="${proceso.id}">Id del proceso (PID)</span></td>
							<td><span th:text="${proceso.nombre}"> Nombre (Command)</span></td>
							<td><span th:text="${proceso.si}"> Usuario que ejecuta el proceso (UID)</span></td>
							<td><span th:text="${proceso.cpu}"> Tiempo de uso de la CPU (TIME) </span></td>
							<td><a href="#" th:href="@{'/borrarProceso/linux/'  + ${proceso.id}}"> Cancelar proceso  </a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				 
				<a href="#" th:href="@{/volver/linux}"> volver </a> <a href="#"> 
			
			</div>
			
		</div>
	</div>
</body>
</html>