<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Lista de procesos</title>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Procesos</h1>
			</div>
		</div>
		<div>
			<div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Identificador  </th>
							<th scope="col">Nombre  </th>
							<th scope="col">Cpu  </th>
							<th scope="col">Si  </th>
							<th scope="col">Pm</th>
							<th scope="col">Npm </th>
							<th scope="col">Cancelar proceso </th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:if="${procesos.empty}">
							<td colspan="2">No hay procesos</td>
						</tr>
						<tr th:each="proceso : ${procesos}">
							<td><span th:text="${proceso.id}"> Id </span></td>
							<td><span th:text="${proceso.nombre}"> Nombre </span></td>
							<td><span th:text="${proceso.cpu}"> Cpu </span></td>
							<td><span th:text="${proceso.si}"> Si </span></td>
							<td><span th:text="${proceso.pm}"> Pm </span></td>
							<td><span th:text="${proceso.npm}"> Npm </span></td>
							<td><a href="#" th:href="@{'/borrarProceso/windows/'  + ${proceso.id}}"> Borrar  </a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				 
				<a href="#" th:href="@{/volver}"> volver </a> <a href="#"> 
			
			</div>
			
		</div>
	</div>
</body>
</html>